@import '../node_modules/bootstrap/scss/bootstrap.scss';

.clickable {
  cursor: pointer;
}

.opacity-25 {
  opacity: .25;
}

.w-6em {
  width: 6em;
};

code {
  color: $success;
}

.code {
  font-family: var(--bs-font-monospace);
}

.word-wrap-anywhere {
  word-wrap: anywhere;
  word-break: break-all;
}

.spinning {
  width: 28px;
  height: 28px;
  margin-left: 10px;
  -webkit-animation:spin 8s linear infinite;
  -moz-animation:spin 8s linear infinite;
  animation:spin 8s linear infinite;
  animation-play-state: running;
}

.not-spinning {
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}
