@import '../node_modules/bootstrap/scss/bootstrap.scss';

.bg-dark {
  background-color: tint-color($dark, 10%) !important;
  color: tint-color($gray-800, 80%);
}

.bg-deepdark {
  background-color: tint-color($black, 10%) !important;
}

.bg-primary-dark {
  background-color: shade-color($primary, 70%) !important;
}

.bg-secondary {
  background-color: tint-color($dark, 20%) !important;
}

.text-white-75 {
  color: tint-color($gray-800, 80%);
}

.navbar-dark {
  background-color: tint-color($dark, 1%) !important;
  color: tint-color($primary, 5%);
}

.line-space-2 {
  line-height: 2em;
}

.line-space-1-5 {
  line-height: 1.5em;
}

.tiny {
  font-size: 0.8em;
}

.clickable {
  cursor: pointer;
}

.opacity-25 {
  opacity: .25;
}

.w-6em {
  width: 6em;
};

#loggedin-user-badge {
  color: tint-color($dark, 50%) !important;
  border-color: tint-color($dark, 25%) !important;
  background-color: tint-color($dark, 5%) !important;
}

code {
  color: $success;
}

.code {
  font-family: var(--bs-font-monospace);
}

.no-wrap {
  word-wrap: unset;
  word-break: keep-all;
}

.word-wrap-anywhere {
  word-wrap: anywhere;
  word-break: break-all;
}

.server-headline-icon {
  max-width: 31px;
  margin-top: -5px;
  font-size: 1.4em;
}

.server-headline-title {
}

.latest-events-play-resume-button {
  width: 18px;
  height: 18px;
  margin-right: -5px;
}

.explorer-key-value-badge {
  overflow-wrap: revert;
}

.explorer-key-value-badge-key {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.explorer-key-value-badge-value {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.close-button {
  width: 2.5em;
  height: 2.5em;
  margin-top: -.75em;
  margin-right: -.75em;
}

.react_time_range__time_range_container {
  padding-left: 10% !important;
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
  padding-right: 0 !important;
  width: 90% !important;
  height: 52px !important;
}

.react_time_range__rail__inner {
  height: 18px !important;
}

.react_time_range__track {
  height: 32px !important;
}

.react_time_range__tick_marker__large {
  margin-top: 9px !important;
  height: 4px !important;
}

.react_time_range__tick_label {
  margin-top: 17px !important;
}


.spinning {
  width: 28px;
  height: 28px;
  margin-left: 10px;
  -webkit-animation:spin 8s linear infinite;
  -moz-animation:spin 8s linear infinite;
  animation:spin 8s linear infinite;
  animation-play-state: running;
}

.spinning-small {
  width: 18px;
  height: 18px;
}

.not-spinning {
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}

.fade-out-half {
  opacity: .35;
  animation-name: fadeOutHalfOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}

@keyframes fadeOutHalfOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .35;
  }
}
