@import '../node_modules/bootstrap/scss/bootstrap.scss';

.bg-dark {
  background-color: tint-color($dark, 10%) !important;
  color: tint-color($gray-800, 80%);
}

.bg-deepdark {
  background-color: tint-color($black, 10%) !important;
}

.bg-secondary {
  background-color: tint-color($dark, 20%) !important;
}

.navbar-dark {
  background-color: tint-color($dark, 1%) !important;
  color: tint-color($primary, 5%);
}

.clickable {
  cursor: pointer;
}

.opacity-25 {
  opacity: .25;
}

.w-6em {
  width: 6em;
};

#loggedin-user-badge {
  color: tint-color($dark, 50%) !important;
  border-color: tint-color($dark, 25%) !important;
  background-color: tint-color($dark, 5%) !important;
}

code {
  color: $success;
}

.code {
  font-family: var(--bs-font-monospace);
}

.word-wrap-anywhere {
}

.server-headline-icon {
  max-width: 31px;
  margin-top: -5px;
  font-size: 1.4em;
}

.server-headline-title {
}

.spinning {
  width: 28px;
  height: 28px;
  margin-left: 10px;
  -webkit-animation:spin 8s linear infinite;
  -moz-animation:spin 8s linear infinite;
  animation:spin 8s linear infinite;
  animation-play-state: running;
}

.spinning-small {
  width: 18px;
  height: 18px;
}

.not-spinning {
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}

.fade-out-half {
  opacity: .35;
  animation-name: fadeOutHalfOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}

@keyframes fadeOutHalfOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .35;
  }
}
